<html>
    <head>
        <title><%= title %></title>
                <!-- Latest compiled and minified CSS -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

                <!-- jQuery library -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
                <!-- Popper JS -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        
                <!-- Latest compiled JavaScript -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
                <script src="/js/undercore.js"></script>
                <script src="/js/backbone.js"></script>
                <script src="/js/models.js"></script>
    </head>
    <body class="container">
        <div class="alert alert-secondary">   
          <%- include("sheet/menu.ejs") %>
      </div>
        <h1>Products</h1>
        <div>
            <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
            <table class="table table-bordered" id="myTable">
                <tr>
                    <td>Mã</td>
                    <td>Giá lẻ</td>
                    <td>Cấp 1</td>
                    <td>Cấp 2</td>
                    <td>Cấp 3</td>
                </tr>
                <% function numberWithCommas(x) { %>
                 <% return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."); %>
                <% } %>
                <% data.forEach(function(e){ %>
                <tr>
                    <td><%= e.productNameColumn %></td>
                    <td style="text-align:right" class="table-secondary"><%= numberWithCommas(e.productPriceColumn) %></td>
                    <td style="text-align:right" class="table-danger"><%= numberWithCommas(e.cap1) %></td>
                    <td style="text-align:right" class="table-warning"><%= numberWithCommas(e.cap2) %></td>
                    <td style="text-align:right" class="table-primary"><%= numberWithCommas(e.cap3) %></td>
                </tr>
                <% }) %>
            </table>
        </div>
        <script>
            function myFunction() {
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
              for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }
            </script>
    </body>
</html>