<html>
    <head>
        <%- include("../header.ejs", {title: title}); %>
    </head>
    <body class="container">
        <% function numberWithCommas(x) { %>
        <% return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."); %>
        <% } %>
        <div class="alert alert-secondary">   
            <%- include("menu.ejs") %>
        </div>
        <div>
            <a href="<%= url %>?new=1">Làm mới</a>
        </div>
        <div>
            <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
            <table class="table table-bordered" id="myTable">
                <tr>
                    <td class="text-center" style="width: 40%"><strong>Tên</strong></td>    
                    <td class="text-center" style="width: 15%"><strong>Giá lẻ - 3</strong></td>
                    <td class="text-center" style="width: 15%"><strong>Cấp 2</strong></td>
                    <!-- <td class="text-center" style="width: 15%"><strong>Cấp 1</strong></td> -->
                    <td class="text-center" style="width: 15%">Loại</td>
                    <td class="text-center" style="width: 15%"><strong>Hãng</strong></td>
                <tr>
                <% data.forEach(function(e){ %>
                    <% var cls = ""; %>
                    <% if(e.branch == "DAHUA") { %>
                    <% cls = "alert alert-info" %>
                    <% } else if (e.branch == "KBVISION") { %>
                    <% cls = "alert alert-primary" %>
                    <% } else if (e.branch == "HIKVISION") { %>
                    <% cls = "alert alert-danger" %>
                    <% } %>
                <tr class="<%= cls %>">
                    <td><%= e.name %></td>
                    <td class="text-right"><%= numberWithCommas(Math.round(e.price_3/1000)*1000) %></td>
                    <td class="text-right"><%= numberWithCommas(Math.round(e.price_2/1000)*1000) %></td>
                    <!-- <td class="text-right"><%= numberWithCommas(Math.round(e.price_1/1000)*1000) %></td> -->
                    <td class="text-center"><%= e.group %></td>
                    <td class="text-right"><%= e.branch %></td>
                </tr>
                <% }); %>
            </table>
        </div>
        <script>
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                    }       
                }
            }
            </script>
    </body>
</html>